<p id="notice"><%= notice %></p>

<p>
  <strong>Identificador1:</strong>
  <%= @instrumento.Identificador1 %>
</p>

<p>
  <strong>Grupo:</strong>
  <%= @instrumento.Grupo %>
</p>

<p>
  <strong>Tipoinstrumentolegal:</strong>
  <%= @instrumento.TipoInstrumentoLegal %>
</p>

<p>
  <strong>Objeto:</strong>
  <%= @instrumento.Objeto %>
</p>

<p>
  <strong>Montototal:</strong>
  <%= @instrumento.MontoTotal %>
</p>

<p>
  <strong>Versionpublica:</strong>
  <%= @instrumento.VersionPublica %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @instrumento.Nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @instrumento.Apellido %>
</p>

<p>
  <strong>Datopersonaareainstutucion:</strong>
  <%= @instrumento.DatoPersonaAreaInstutucion %>
</p>

<%= link_to 'Edit', edit_instrumento_path(@instrumento) %> |
<%= link_to 'Back', instrumentos_path %>
