<% @naturalista_estadisticas.each do |naturalista_estadistica| %>
  <tr>
    <td><%= naturalista_estadistica.icono.present? ? image_tag(naturalista_estadistica.icono) : '' %></td>
    <td><%= link_to naturalista_estadistica.titulo, "https://www.naturalista.mx/projects/#{naturalista_estadistica.id}", target: :_blank %></td>
    <td><%= naturalista_estadistica.tipo_proyecto %></td>
    <td><%= naturalista_estadistica.estado %></td>
    <td><%= naturalista_estadistica.ubicacion %></td>
    <td><%= number_with_delimiter naturalista_estadistica.numero_observaciones %></td>
    <td><%= number_with_delimiter naturalista_estadistica.numero_especies %></td>
    <td><%= number_with_delimiter naturalista_estadistica.numero_observadores %></td>
    <td><%= number_with_delimiter naturalista_estadistica.numero_identificadores %></td>
    <td><%= number_with_delimiter naturalista_estadistica.numero_miembros %></td>
  </tr>
<% end %>