<p id="notice"><%= notice %></p>

<h1>Administración: Estadisticas por proyecto de Naturalista</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Tipo proyecto</th>
      <th>Estado</th>
      <th>Ubicación</th>
      <th>Número observaciones</th>
      <th>Número especies</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @naturalista_estadisticas.each do |naturalista_estadistica| %>
      <tr>
        <td><%= naturalista_estadistica.titulo %></td>
        <td><%= naturalista_estadistica.tipo_proyecto %></td>
        <td><%= naturalista_estadistica.estado %></td>
        <td><%= naturalista_estadistica.ubicacion %></td>
        <td><%= naturalista_estadistica.numero_observaciones %></td>
        <td><%= naturalista_estadistica.numero_especies %></td>
        <td><%= link_to 'Show', naturalista_estadistica %></td>
        <td><%= link_to 'Edit', edit_naturalista_estadistica_path(naturalista_estadistica) %></td>
        <td><%= link_to 'Destroy', naturalista_estadistica, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Naturalista Estadistica', new_naturalista_estadistica_path %>
