<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<h4>NOTA: los datos son actualizados cada tercer día a apartir de las 00:00 hrs.</h4>
<h2><%= @naturalista_estadisticas.length %> proyectos</h2>

<%= form_with(model: @naturalista_estadistica, id: 'proyectos-form') do |form| %>

  <table class="table table-condensed table-responsive table-hover table-stripped">
    <thead>
    <tr>
      <th>Ordena por <%= form.select :orden, Naturalista::Estadistica::ORDEN, include_blank: true %></th>
      <th><%= form.text_field :titulo, placeholder: 'Proyecto' %></th>
      <th><%= form.text_field :ubicacion, placeholder: 'Ubicación' %></th>
      <th>Tipo de proyecto <%= form.select :tipo_lugar, Naturalista::Estadistica::TIPOS_PROYECTOS, include_blank: true %></th>
      <th># observaciones</th>
      <th># especies</th>
      <th># observadores</th>
      <th># identificadores</th>
      <th># miembros</th>
    </tr>
    </thead>

    <tbody>
    <% @naturalista_estadisticas.each do |naturalista_estadistica| %>
      <tr>
        <td><%= naturalista_estadistica.icono.present? ? image_tag(naturalista_estadistica.icono) : '' %></td>
        <td><%= link_to naturalista_estadistica.titulo, "https://www.naturalista.mx/projects/#{naturalista_estadistica.id}", target: :_blank %></td>
        <td><%= naturalista_estadistica.ubicacion %></td>
        <td><%= naturalista_estadistica.tipo_lugar %></td>
        <td><%= naturalista_estadistica.numero_observaciones %></td>
        <td><%= naturalista_estadistica.numero_especies %></td>
        <td><%= naturalista_estadistica.numero_observadores %></td>
        <td><%= naturalista_estadistica.numero_identificadores %></td>
        <td><%= naturalista_estadistica.numero_miembros %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% end %>

<script id="serviciosjs">
  $('#proyectos-form').on('change', 'input, select', function(){
      $.ajax({
          type:'GET',
          isLocal: true,
          async: false,
          crossDomain: true,
          url:'http://calonso.conabio.gob.mx:7000/naturalista/estadisticas/proyectos',
          data: $('#proyectos-form').serialize(),
          success: function(html){
              if (html != '')
                  $('#project_stats').empty().html(html);
          },
          fail: function(){
              $('#project_stats').empty().html('Hubo un error en la carga de los datos. Por favor inténtalo de nuevo.');
          }
      });
  });
</script>
