<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<h4>NOTA: los datos son actualizados cada tercer día a apartir de las 00:00 hrs.</h4>
<h2 id="conteo-proyectos"><%= @naturalista_estadisticas.length %> proyectos</h2>

<%= form_with(model: @naturalista_estadistica, id: 'proyectos-form') do |form| %>

  <table class="table table-condensed table-responsive table-hover table-stripped">
    <thead>
    <tr>
      <th>Ordena por <%= form.select :orden, Naturalista::Estadistica::ORDEN, include_blank: true %></th>
      <th><%= form.text_field :titulo, placeholder: 'Proyecto' %></th>
      <th><%= form.text_field :ubicacion, placeholder: 'Ubicación' %></th>
      <th>Tipo de proyecto <%= form.select :tipo_proyecto, Naturalista::Estadistica::TIPOS_PROYECTOS, include_blank: true %></th>
      <th># observaciones</th>
      <th># especies</th>
      <th># observadores</th>
      <th># identificadores</th>
      <th># miembros</th>
    </tr>
    </thead>

    <tbody id="datos-proyectos">
      <%= render partial: 'proyectos' %>
    </tbody>
  </table>

<% end %>

<script id="serviciosjs">
    $('#proyectos-form').on('change', 'input, select', function(){
        $.ajax({
            type:'GET',
            isLocal: false,
            async: false,
            crossDomain: true,
            url:'http://calonso.conabio.gob.mx:7000/naturalista/estadisticas/proyectos',
            data: $('#proyectos-form').serialize(),
            success: function(html){
                $('#datos-proyectos').empty().html(html);
                $('#conteo-proyectos').html($('#datos-proyectos tr').length + ' proyectos')
            },
            fail: function(){
                $('#datos-proyectos').empty().html('<td>Hubo un error en los datos.</td>');
            }
        });
    });
</script>
