<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<p>NOTA: Para actualizar el estado o el tipo de proyecto, sigue este <%= link_to 'enlace', Servicios::Application.config.admin_estadisticas_url, target: :_blank %> </p>
<h2 id="conteo-proyectos"><%= @naturalista_estadistica.totales %> proyectos</h2>

<%= form_with(model: @naturalista_estadistica, id: 'proyectos-form') do |form| %>

  <table class="table table-condensed table-responsive table-hover table-stripped">
    <thead>
    <tr>
      <th>Ordena por <%= form.select :orden, Naturalista::Estadistica::ORDEN, include_blank: true %></th>
      <th>Nombre del proyecto <%= form.text_field :titulo, placeholder: 'Proyecto', class: 'form-control' %></th>
      <th>Tipo de proyecto <%= form.select :tipo_proyecto, Naturalista::Estadistica::TIPOS_PROYECTOS, include_blank: true, class: 'form-control' %></th>
      <th>Estado <%= form.select :estado, Naturalista::Estadistica::ESTADOS.values.sort, include_blank: true, class: 'form-control' %></th>
      <th>Ubicación <%= form.text_field :ubicacion, placeholder: 'Ubicación', class: 'form-control' %></th>
      <th># observaciones</th>
      <th># especies</th>
      <th># observadores</th>
      <th># identificadores</th>
      <th># miembros</th>
    </tr>
    </thead>

    <tbody id="datos-proyectos">
    <%= render partial: 'proyectos' %>
    </tbody>
  </table>

  <%= form.hidden_field :pagina, id: 'pagina' %>

<% end %>

<script id="serviciosjs">
  esatdisticas_proyectos_url = "<%= Servicios::Application.config.estadisticas_proyectos_url %>";
  pagina = 1

  function proyectos_ajax(tipo)
  {
      $.ajax({
          type:'GET',
          isLocal: false,
          async: false,
          crossDomain: true,
          url: esatdisticas_proyectos_url,
          data: $('#proyectos-form').serialize(),
          success: function(html){
            if (tipo == 'campos')
              $('#datos-proyectos').empty().html(html);
            else
              $('#datos-proyectos').append(html);
            
          },
          fail: function(){
              $('#datos-proyectos').empty().html('<td>Hubo un error en los datos.</td>');
          }
      });
  }

  $('#proyectos-form').on('change', 'input, select', function(){
    pagina = 1;
    $('#pagina').val(pagina);
    proyectos_ajax('campos');
  });

  window.onscroll = function(ev) {

    if ((window.innerHeight + window.scrollY) >= $('#projec_stats').offsetHeight) {
      pagina = pagina + 1;
      $('#pagina').val(pagina);
      proyectos_ajax('paginado');
    }
  };
</script>

<h4>NOTA: Los datos son actualizados cada lunes a partir de las 00:00 hrs.</h4>