<h4>Proyecto <%= @naturalista_estadistica.titulo %></h4>
<p id="notice"><%= notice %></p>

<p>
  <strong>Ícono:</strong>
  <%= @naturalista_estadistica.icono.present? ? image_tag(@naturalista_estadistica.icono) : '' %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @naturalista_estadistica.descripcion %>
</p>

<p>
  <strong>Publicó:</strong>
  <%= @naturalista_estadistica.publico ? 'Sí' : 'No' %>
</p>

<p>
  <strong>Tipo de proyecto:</strong>
  <%= @naturalista_estadistica.tipo_proyecto %>
</p>

<p>
  <strong>Clase de proyecto:</strong>
  <%= @naturalista_estadistica.clase_proyecto %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @naturalista_estadistica.estado %>
</p>

<p>
  <strong>Ubicación:</strong>
  <%= @naturalista_estadistica.ubicacion %>
</p>

<p>
  <strong>Número de especies:</strong>
  <%= @naturalista_estadistica.numero_especies %>
</p>

<p>
  <strong>Número observaciones:</strong>
  <%= @naturalista_estadistica.numero_observaciones %>
</p>

<p>
  <strong>Número observadores:</strong>
  <%= @naturalista_estadistica.numero_observadores %>
</p>

<p>
  <strong>Número identificadores:</strong>
  <%= @naturalista_estadistica.numero_identificadores %>
</p>

<p>
  <strong>Número miembros:</strong>
  <%= @naturalista_estadistica.numero_miembros %>
</p>

<p>
  <strong>ID del lugar:</strong>
  <%= @naturalista_estadistica.lugar_id %>
</p>

<%= link_to 'Edit', edit_naturalista_estadistica_path(@naturalista_estadistica) %> |
<%= link_to 'Back', naturalista_estadisticas_path %>
