<%= form_with(model: juridico_instrumento, local: true) do |form| %>
  <% if juridico_instrumento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instrumento.errors.count, "error") %> prohibited this instrumento from being saved:</h2>

      <ul>
      <% juridico_instrumento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Identificador1 %>
    <%= form.text_field :Identificador1, id: :instrumento_Identificador1 %>
  </div>

  <div class="field">
    <%= form.label :Grupo %>
    <%= form.text_field :Grupo, id: :instrumento_Grupo %>
  </div>

  <div class="field">
    <%= form.label :TipoInstrumentoLegal %>
    <%= form.text_field :TipoInstrumentoLegal, id: :instrumento_TipoInstrumentoLegal %>
  </div>

  <div class="field">
    <%= form.label :Objeto %>
    <%= form.text_area :Objeto, id: :instrumento_Objeto %>
  </div>

  <div class="field">
    <%= form.label :MontoTotal %>
    <%= form.text_field :MontoTotal, id: :instrumento_MontoTotal %>
  </div>

  <div class="field">
    <%= form.label :VersionPublica %>
    <%= form.text_area :VersionPublica, id: :instrumento_VersionPublica %>
  </div>

  <div class="field">
    <%= form.label :Nombre %>
    <%= form.text_field :Nombre, id: :instrumento_Nombre %>
  </div>

  <div class="field">
    <%= form.label :Apellido %>
    <%= form.text_field :Apellido, id: :instrumento_Apellido %>
  </div>

  <div class="field">
    <%= form.label :DatoPersonaAreaInstutucion %>
    <%= form.text_field :DatoPersonaAreaInstutucion, id: :instrumento_DatoPersonaAreaInstutucion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
