<table id='instrumentosJuridicos' class="table table-responsive table-striped table-hover">
  <thead>
    <tr>
      <th>Registro</th>
      <th>Grupo</th>
      <th>Instrumento legal</th>
      <th>Objeto</th>
      <th>Monto total</th>
      <!--th>Version pública</th-->
      <th>Nombre</th>
      <th>Institución</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @juridico_instrumentos.each do |instrumento| %>
      <tr>
        <td><%= instrumento.Identificador1 %></td>
        <td><%= instrumento.Grupo %></td>
        <td><%= instrumento.TipoInstrumentoLegal %></td>
        <td><%= instrumento.Objeto %></td>
        <td><%= instrumento.MontoTotal.present? ? number_to_currency(instrumento.MontoTotal).to_s[0..-4] : 'N/A' %></td>
        <!--td><%#= instrumento.VersionPublica %></td-->
        <td><%= "#{instrumento.Nombre} #{instrumento.Apellido}" %></td>
        <td><%= instrumento.DatoPersonaAreaInstutucion %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
