<%= form_with(model: evento, local: true, url: url) do |form| %>
  <% if evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evento.errors.count, "error") %> prohibited this evento from being saved:</h2>

      <ul>
      <% evento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo, "Título del evento *" %>
    <%= form.text_field :titulo, id: :evento_titulo, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :actividad, "Actividad *" %>
    <%= form.select :actividad, options_for_select(Calendario::Evento::ACTIVIDAD), {prompt: "- - - Selecciona - - -"}, id: :evento_actividad, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :otra_actividad, "Otra actividad (en caso de no estar en la lista)" %>
    <%= form.text_field :otra_actividad, id: :evento_otra_actividad, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :fecha_ini, "Fecha de inicio *" %>
    <%= form.datetime_select :fecha_ini, id: :evento_fecha_ini, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :fecha_fin, "Fecha de cierre/término *" %>
    <%= form.datetime_select :fecha_fin, id: :evento_fecha_fin, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :descripcion, "Descripción del evento *" %>
    <%= form.text_area :descripcion, id: :evento_descripcion, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :informes, "Informes, contacto, dirección, URL del evento, etc *" %>
    <%= form.text_field :informes, id: :evento_informes, class: "form-control" %>
  </div>  

  <div class="field">
    <%= form.label :estado, "Estado *" %>
    <%= form.select :estado, options_for_select(Calendario::Evento::ESTADO), {prompt: "- - - Selecciona ---"}, id: :evento_estado, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :publico_meta, "¿A quién va dirigido? *" %>
    <%= form.select :publico_meta, options_for_select(Calendario::Evento::PUBLICO_META), {prompt: "- - - Selecciona ---"}, id: :evento_publico_meta, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :formato, "¿Cómo se llevará a cabo el evento? *" %>
    <%= form.select :formato, options_for_select(Calendario::Evento::FORMATO), {prompt: "- - - Selecciona ---"}, id: :evento_formato, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :celebracion, "Marcar solo si es un día nacional de celebración" %>
    <%= form.check_box :celebracion, id: :evento_celebracion, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
