<div id="eventos-container" style="background-color: #efefef;">
  <%= render partial: 'calendario/eventos/admin_menu'  %>
  <div class="container">
    <div class="row">
      <div class="col" id="list-container">
        <%= month_calendar(events: @eventos, partial: 'simple_calendar/month_calendar') do |date, eventos| %>
          <h5 class="text-black-50 px-2 text-right"><%= date.day %></h5>
          <% eventos.each do |evento| %>
            <a class="list-eventos btn btn-outline-dark btn-block btn-sm rounded-0 border-0 ml-0 text-left text-white" id="list-evento-<%= evento.id %>-list" href="/servicios<%= calendario_evento_path(evento) %>" style="background-color: <%= dameColorFormato(evento.formato, evento.celebracion) %>">
              <%= evento.titulo %>
            </a>
          <% end %>
        <% end %>
      </div>
      <div class="col-4">
        <div class="tab-content bg-light border shadow-sm px-4" id="evento-content"></div>
        <button class="btn btn-outline-light border" onClick="window.location.href='/conabio/ecos-de-la-naturaleza'">
          <img class="img-fluid" src="/media/1/conabio/ecos-naturaleza/ecos-nat-logo.jpg" alt="Boletín informativo">
        </button>
      </div>
    </div>
  </div>
</div>
