<div id="eventos-container" style="background-color: #efefef;">
  <%= render partial: 'calendario/eventos/admin_menu'  %>
  <div class="container">
    <div class="row">
      <div class="col" id="list-container">
        <%= month_calendar(events: @eventos, partial: 'simple_calendar/month_calendar') do |date, eventos| %>
          <h5 class="text-black-50 px-2 text-right"><%= date.day %></h5>
          <% eventos.each do |evento| %>
            <a class="list-eventos btn btn-outline-dark btn-block btn-sm rounded-0 border-0 ml-0 text-left text-white" id="list-evento-<%= evento.id %>-list" href="/servicios<%= calendario_evento_path(evento) %>" style="background-color: <%= dameColorFormato(evento.formato, evento.celebracion) %>">
              <%= evento.titulo %>
            </a>
          <% end %>
        <% end %>
      </div>
      <div class="col-4 d-flex flex-column">
        <div class="tab-content" id="evento-content">
          <h4 class="text-center">Novedades</h4>
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3" class=""></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item"><a href="https://youtu.be/YYMaFOnwIlo" target="_blank" rel="noopener"><img class="img-responsive img-fluid" src="/media/1/inicio/images/v_pedregal_SanAngel.jpg" alt="Pedregal de San Ángel" width="534" height="425"></a></div>
              <div class="carousel-item active"><a href="https://www.biodiversidad.gob.mx/ecosistemas/ecosismex"><img class="img-responsive img-fluid" src="/media/1/inicio/images/EcosistemasMx_nov.jpg" alt="Ecosistemas de México" width="534" height="425"></a></div>
              <div class="carousel-item"><a href="https://www.biodiversidad.gob.mx/especies/gfamilia"><img class="img-responsive img-fluid" src="/media/1/inicio/images/LaGranFamilia_nov.jpg" alt="La gran familia" width="534" height="425"></a></div>
              <div class="carousel-item"><a href="https://www.biodiversidad.gob.mx/genes/centrosOrigen/proyectosCdeO"><img class="img-responsive img-fluid" src="/media/1/inicio/images/centrosOrigen_nov.jpg" alt="Centros de origen y diversificación" width="534" height="425"></a></div>
            </div>
            <button class="carousel-control-prev border-0" href="#carouselExampleIndicators" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </button>
            <button class="carousel-control-next border-0" href="#carouselExampleIndicators" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </button>
          </div>
          <hr>
          <button class="btn btn-outline-info p-0" onClick="window.location.href='/conabio/ecos-de-la-naturaleza'">
            <img class="img-fluid" src="/media/1/conabio/ecos-naturaleza/ecos-nat-logo.jpg" alt="Boletín informativo">
            <b>Boletín informativo</b>
          </button>
        </div>

        <div class="mt-auto text-black-50">
          <i class="fa fa-square" style="color: #005378;"></i> Presencial<br>
          <i class="fa fa-square" style="color: #c2b59b;"></i> Virtual<br>
          <i class="fa fa-square" style="color: #b55410;"></i> Híbrido<br>
          <i class="fa fa-square" style="color: #747b0e;"></i> Celebración ambiental
        </div>
      </div>
    </div>
  </div>
</div>
