<p id="notice"><%= notice %></p>

<h1>Eventos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Actividad</th>
      <th>Otra actividad</th>
      <th>Descripcion</th>
      <th>Fecha ini</th>
      <th>Fecha fin</th>
      <th>Publico meta</th>
      <th>Formato</th>
      <th>Estado</th>
      <th>Informes</th>
      <th>Celebracion</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eventos.each do |evento| %>
      <tr>
        <td><%= evento.titulo %></td>
        <td><%= evento.actividad %></td>
        <td><%= evento.otra_actividad %></td>
        <td><%= evento.descripcion %></td>
        <td><%= evento.fecha_ini %></td>
        <td><%= evento.fecha_fin %></td>
        <td><%= evento.publico_meta %></td>
        <td><%= evento.formato %></td>
        <td><%= evento.estado %></td>
        <td><%= evento.informes %></td>
        <td><%= evento.celebracion %></td>
        <td><%= evento.usuario %></td>
        <td><%= link_to 'Show', calendario_evento_url(evento) %></td>
        <td><%= link_to 'Edit', edit_calendario_evento_url(evento) %></td>
        <td><%= link_to 'Destroy', calendario_evento_url(evento), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evento', new_calendario_evento_url %>
