<% if notice.present? %>
  <div class="alert alert-primary" role="alert" id="notice"><%= notice %></div>
<% end %>

<div id="eventos-container" class="my-3">
  <div class="row">
    <div class="col col-10" id="list-container">
      <%= month_calendar(events: @eventos) do |date, eventos| %>
        <%= date.day %>
        <% eventos.each do |evento| %>
          <div class="list-group">
            <a class="list-group-item list-group-item-action list-eventos shadow-sm" id="list-evento-<%= evento.id %>-list" href="<%= calendario_evento_url(evento) %>">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><%= evento.titulo %></h5>
                <small><%= evento.fecha_ini.strftime('%d/%m/%y') %> </small>
              </div>
              <p class="mb-1"><%= evento.actividad %></p>
              <small><%= evento.estado%></small>
            </a>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col">
      <div class="tab-content" id="evento-content"></div>
    </div>
  </div>
</div>
