<% if notice.present? %>
  <div class="alert alert-primary" role="alert" id="notice"><%= notice %></div>
<% end %>

<p class="h3">
  Eventos de <%= @usuario %> <%= link_to '<i class="fa fa-plus-circle"></i>'.html_safe, new_calendario_evento_url, class: 'btn btn-lg btn-link', title: 'Añadir evento', "data-toggle" => "tooltip", "data-placement" => "bottom"  %>
</p>


<div class="row">
  <div class="col-6">
    <div class="list-group" id="list-tab" role="tablist">
      <% @eventos.each do |evento| %>
        <a class="list-group-item list-group-item-action list-eventos shadow-sm" id="list-evento-<%= evento.id %>-list" href="<%= calendario_evento_url(evento) %>">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= evento.titulo %></h5>
            <small><%= evento.fecha_ini.strftime('%d/%m/%y') %> </small>
          </div>
          <p class="mb-1"><%= evento.actividad %></p>
          <small><%= evento.estado%></small>
        </a>
      <% end %>
    </div>
  </div>
  <div class="col">
    <div class="tab-content p-4" id="evento-content"></div>
  </div>
</div>
