<% if flash.notice.present? %>
  <div class="alert alert-primary" role="alert" id="notice"><%= notice %></div>
<% end %>

<h1 class="my-4 text-dark"><%= @evento.titulo %><i class="fa fa-bookmark fa-rotate-90 pull-right mr-n4" style="color: <%= dameColorFormato(@evento.formato, @evento.celebracion) %>"></i></h1>

<p class="text-break">
  <b><%= @evento.actividad == 'Otra' ? @evento.otra_actividad : @evento.actividad %></b> <br>
  <%= damePublicoMeta(@evento.publico_meta) if @evento.publico_meta.present? %>
  <%= dameFormato(@evento.formato) if @evento.formato.present? %>
  <%= "<i class='fa fa-map-o'></i> #{@evento.estado} <br>".html_safe if @evento.estado.present? %>
  Del <i class="fa fa-calendar"></i> <%= @evento.fecha_ini.strftime('%d/%m/%y') %> &middot;
  <i class="fa fa-clock-o"></i> <%= @evento.fecha_ini.strftime('%H:%M') %> <br>
  al <i class="fa fa-calendar"></i> <%= @evento.fecha_fin.strftime('%d/%m/%y') %> &middot;
  <i class="fa fa-clock-o"></i> <%= @evento.fecha_fin.strftime('%H:%M') %> <br>
  <%= "<strong class='text-success'>Día nacional de celebracion</strong>".html_safe if @evento.celebracion %>
</p>
<hr class="my-2">
<p class="text-break font-weight-bolder">
  <%= @evento.descripcion %> <br>
</p>
<hr class="my-2">
<p class="text-break">
  <i class="fa fa-info-circle"></i> <%= @evento.informes %>
</p>
<%  if @usuario.present? %>
  <hr class="my-4">
  <div class="d-flex justify-content-between align-items-center">
    <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, at_servicios(edit_calendario_evento_path(@evento)), class: 'btn btn-info mx-2' %>
    <%= button_tag '<i class="fa fa-trash"></i>'.html_safe, type: 'button', class: 'btn btn-danger mx-2 rusure', onclick: "$('.rusure').toggleClass('invisible');" %>
    <b class="text-secondary rusure invisible">¿Estás seguro?</b>
    <%= link_to 'Borrar evento', at_servicios(calendario_evento_path(@evento)), "data-metodo" => "delete", "data-token" => "#{form_authenticity_token}", class: 'btn btn-outline-danger mx-2 rusure invisible' %>
    <%= button_tag 'Cancelar', type: 'button', class: 'btn btn-outline-success mx-2 rusure invisible', onclick: "$('.rusure').toggleClass('invisible');" %>
  </div>
  <p class="text-right h6 my-3">Evento creado por: <strong><%= @usuario %></strong></p>
<% end %>

<%= link_to "<i class='fa fa-angle-double-left'></i> Regresar a eventos".html_safe, at_servicios(@usuario.present? ? mis_eventos_calendario_eventos_path : calendario_eventos_path), class: 'btn btn-link pl-0' %>
