<% if notice.present? %>
  <div class="alert alert-primary" role="alert" id="notice"><%= notice %></div>
<% end %>
<div class="jumbotron">
  <h1 class="display-4"><%= @evento.titulo %></h1>
  <p class="lead">
    <%= @evento.actividad %><% ": #{@evento.otra_actividad}" if @evento.actividad == 'Otra'%> <br>
    <%= @evento.publico_meta %> <br>
    <%= @evento.formato %> <br>
    <%= @evento.estado %> <br>
    <small><%= @evento.fecha_ini.strftime('%d/%m/%y - %H:%M') %> - <%= @evento.fecha_fin.strftime('%d/%m/%y - %H:%M') %></small> <br>
    <%= "<strong class='text-success'>Día nacional de celebracion</strong>".html_safe if @evento.celebracion %>
  </p>
  <hr class="my-4">
  <p>
    <%= @evento.descripcion %> <br>
    <strong><i class="fa fa-info-circle"></i> </strong><%= @evento.informes %>
  </p>
  <%  if @usuario.present? %>
    <hr class="my-4">
    <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_calendario_evento_url(@evento), class: 'btn btn-sm btn-primary' %>
    <%= link_to '<i class="fa fa-trash"></i>'.html_safe, calendario_evento_url(@evento), method: :delete, data: { confirm: '¿Estas seguro?' }, class: 'btn btn-sm btn-danger' %>
    <%= link_to 'Regresar a eventos'.html_safe, mis_eventos_calendario_eventos_url, class: 'btn btn-sm btn-link' %>
    <br>
    <i>Evento creado por: <strong><%= @usuario %></strong></i>
  <% end %>
</div>
